<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
      <input type="text" class="form-control">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
      <input type="text" class="form-control">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<p>
  <strong>Name:</strong>
  <%= @tasklist.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @tasklist.category %>
</p>

<p>
  <strong>Is completed:</strong>
  <%= @tasklist.is_completed %>
</p>

<p>
  <strong>Date todo:</strong>
  <%= @tasklist.date_todo %>
</p>

<%= link_to 'Edit', edit_tasklist_path(@tasklist) %> |
<%= link_to 'Back', tasklists_path %>
